@import 'normalize';
@import 'default';
@import 'swiper-bundle';
@import 'slick';
@import 'selectric';
@import 'fresco';



html{
  font-family: 'Montserrat', sans-serif;
}
body {
  background-image: url(../img/ng-circle-fill.jpg);
  background-repeat: repeat-y;
  background-position: center;
  &.overflow {
    overflow: hidden;
    pointer-events: none;
  }
  *{
    box-sizing: border-box;
    font-weight: 400;
    outline: none!important;
  }
  a{
    text-decoration: none;
  }
}
.main-page, .post-type-archive, .site-main{
  .entry-title{
    margin-bottom: 30px;
  }
}
.woocommerce-loop-product__title{
  color: black;
}
.section-title{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
form.cart{
  display: flex;
  align-items: center;
}
.woocommerce-Tabs-panel{
  h2{
    margin-bottom: 20px;
  }
  .woocommerce-product-attributes-item__value{
    padding: 10px 20px!important;
  }
}
.red-button, .single_add_to_cart_button, .wpcf7-submit{
  background: linear-gradient(180deg, #D62D30 0%, #601112 100%) !important;
  border: 1px solid #D62D30;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 13px 20px 13px 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF!important;
  font-size: 12px;
  transition: all 0.3s;
  box-shadow: (4px 4px 4px rgba(0, 0, 0, 0.15));
  &:hover{
    background: linear-gradient(90deg, #D62D30 0%, #601112 100%);
  }
}
.procase-container{
  max-width: 1400px;
  padding: 0 100px;
  width: 100%;
  margin: auto;
}
.container__bg{
  background-color: #000000;
  width: 100%;
}
.container{
  margin: auto;
}
.header{
  margin-bottom: -67px;
  z-index: 2;
  position: relative;
  @media all and (max-width: 1550px) {
    padding: 0;
  }
  .menu-menyu-stranicz-container{
    width: 100%;
    ul{
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;
      list-style: none;
      li{
        margin: 0 33px;
        a{
          color: white;
          font-size: 18px;
          line-height: 122%;
          font-weight: 400;
          transition: 0.3s;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }
  .container__bg{
    margin-bottom: 10px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
    &:last-child{
      margin-bottom: 0;
    }
  }
  .second-header{

    .procase-container{
      padding: 15px 0;
    }
  }
  &__container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    padding-top: 44px;
  }
  &__logo{
    width: 300px;
    &-desc{
      font-weight: 500;
      font-size: 14px;
      line-height: 142%;
      margin-bottom: 26px;
      color: white;
    }
  }
  &__nav{
    width: auto;
    &-top{
      .header-info{
        display: flex;
        ul{
          list-style: none;
          display: flex;
          padding-left: 0;
          margin: 0;
          height: 40px;
          align-items: center;
          li{
            margin-right: 40px;
            &:last-child{
              margin-right: 0;
            }
            a{
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
              text-decoration: none;
              transition: 0.3s;
              &:hover{
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
    &-bottom{
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__nav-phone{
    display: flex;
    flex-direction: column;
    a{
      font-weight: 600;
      font-size: 14px;
      color: white;
      margin: 4px 0;
      &:first-child{
        letter-spacing: 0.035em;
      }
    }
  }
  &__nav-button{

  }
  &__nav-rec{
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 9px 26px 7px 26px;
      color: white!important;
      .button-icon{
        position: relative;
        margin-right: 29px;
        svg{
          width: 27px;
          height: 22px;
        }
        span{
          position: absolute;
          right: -5px;
          top: -3px;
          background-color: #ED1A3D;
          font-size: 10px;
          font-weight: 500;
          align-items: center;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}
.main-page{
  width: 100%;
  &__banner{
    width: 100%;
    height: calc(100vh - 178px);
  }
  &__slide{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-pagination{
    bottom: 30px;
    span{
      width: 15px;
      height: 15px;
      border: 1px solid #d62d30;
    }
    .swiper-pagination-bullet-active{
      background-color: #d62d30;
    }
  }
  &__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image{
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__title{
    font-size: 56px;
    line-height: 121%;
    font-weight: 600;
    color: white;
    max-width: 540px;
  }
  &__subtitle{
    font-weight: 300;
    font-size: 30px;
    line-height: 140%;
    color: white;
    margin-top: 16px;
    max-width: 540px;
  }
  &__lnk{
    background: linear-gradient(180deg, #D62D30 0%, #601112 100%), rgba(229, 229, 229, 0.05);
    border: 1px solid #D62D30;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 4px;
    color: white;
    font-size: 14px;
    line-height: 121%;
    font-weight: 500;
    text-transform: uppercase;
    width: 270px;
    height: 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    transition: 0.3s;
    &:hover{
      background: linear-gradient(90deg, #D62D30 0%, #601112 100%), rgba(229, 229, 229, 0.05);
      color: white;
    }
  }
}
.about-case{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 107px 100px 146px 100px;
  &__container{
    max-width: 1040px;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 4px;
    padding: 60px 184px 32px 184px;
  }
  &__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 127%;
    text-align: center;
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    &:nth-child(odd){
      width: calc(55% - 30px);
    }
    &:nth-child(even){
      width: calc(45% - 30px);
    }
    &-img{
      width: 81px;
      height: 64px;
      margin-right: 31px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: auto;
        height: 100%;
        max-width: 75px;
      }
    }
    &-title{
      font-weight: 500;
      font-size: 18px;
      flex: 1;
    }
  }
}
.test{
  background-image: url(../img/circle-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  &__wrapper{
    max-width: 1155px;
    margin: auto;
    padding: 0 0 60px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);;
  }
  &__title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    svg{
      width: 34px;
      height: 34px;
      margin: 9px;
    }
    span{
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__container{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
  }
  &__video{
    width: 624px;
    height: 352px;
    box-shadow: (4px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    overflow: hidden;
    frame{
      width: 100%;
      height: 100%;
    }
  }
  &__content{
    width: calc(100% - 724px);
  }
  &__small-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 153%;
    margin-top: -12px;
  }
  &__desc{
    margin-top: 40px;
  }
  &__item{
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    svg{
      width: 36px;
      height: 36px;
      margin-right: 29px;
    }
    span{
      font-weight: 500;
      font-size: 22px;
      line-height: 121%;
    }
  }
  &__button{
    display: inline-flex;
    padding: 13px 39px;
    margin-top: 32px;
  }
}
.features{
  max-width: 1336px;
  margin: auto;
  padding: 60px 100px 0 100px;
  &__title{

  }
  &__tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 63px;
  }
  &__tab{
    &-item{
      background: #F2F2F2;
      border: 0.5px solid #DEDEDE;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 500;
      padding: 11px 20px;
      margin: 0 32px;
      cursor: pointer;
      transition: 0.3s;
      &.active-tab{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      }
      &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
  &__content{
    .tab-item{
      display: none;
      &.active-tab{
        display: flex;
        justify-content: space-between;
      }
      &__left{
        width: calc(50% - 41px);
        padding-top: 25px;
      }
      &__image{
        width: calc(50% - 41px);
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        box-shadow: (4px 4px 4px rgba(0, 0, 0, 0.15));;
        overflow: hidden;
      }
      &__title{
        font-size: 24px;
        line-height: 141%;
        font-weight: 600;
        margin-bottom: 20px;
      }
      &__desc{
        font-size: 18px;
        line-height: 155%;
        font-weight: 400;
        p{
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      &__lnk{
        margin-top: 40px;
        display: inline-flex;
        a{
          padding: 13px 20px;
        }
      }
    }
  }
}
.crash{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 56px 0;
  &__wrapper{
    max-width: 1040px;
    width: 100%;
    margin: auto;
    padding: 32px 162px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 4px;
  }
  &__title{
    color: white;
  }
  &__video{
    margin-top: 30px;
    height: 405px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-shadow: (4px 4px 4px rgba(0, 0, 0, 0.15));
    overflow: hidden;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  &__desc{
    margin-top: 30px;
    p{
      font-weight: 500;
      font-size: 30px;
      line-height: 122%;
      text-align: center;
      color: white;
      strong{
        color: #D62D30;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
.finishing{
  padding: 80px;
  &__slider{
    position: relative;
  }
  &__title{
    max-width: 650px;
    margin: auto;
  }
  &__slider-text, &__slider-img{
    max-width: 1043px;
    margin: auto;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  &__slider-img{
    padding: 0 20px;
    img{
      max-height: 280px;
      width: auto;
    }
    .swiper-slide{
      filter: blur(3px);
      transition: 0.5s;
    }
    .swiper-wrapper{
      padding: 150px 0;
    }
    .swiper-slide.swiper-slide-active{
      filter: blur(0);
      transform: scale(1.6);
    }
  }
  &__slider-text{
    .swiper-slide{
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0!important;
      &.swiper-slide-visible{
        opacity: 1!important;
      }
      .title{
        font-size: 28px;
        line-height: 135%;
        padding-right: 60px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        width: calc(50% - 100px);
        font-weight: 600;
        text-align: right;
      }
      .desc{
        padding-left: 60px;
        font-size: 18px;
        line-height: 155%;
        width: calc(50% + 100px);
        padding-right: 100px;
        p{
          margin-bottom: 0;
          text-align: left;
        }
      }
    }
  }
  &__slider-nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .slick-next, .slick-prev{
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s;
      &:hover{
        opacity: 1;
      }
    }
  }
}
.scope{
  padding: 81px 100px;
  position: relative;
  &__container{
    max-width: 1043px;
    margin: auto;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(40px);
    border-radius: 4px;
    padding: 80px 53px;
    z-index: 1;
    position: relative;
    text-align: center;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 78px;
  }
  &__item{
    width: calc(50% - 20px);
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
    padding: 7px 14px;
    border: 1px solid rgba(196, 196, 196, 0);
    &:hover{
      background: rgba(255, 255, 255, 0.9);
      border: 1px solid rgba(196, 196, 196, 0.6);
      box-sizing: border-box;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
    }
  }
  &__img{
    width: 60px;
    height: auto;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: auto;
      max-height: 60px;
    }
  }
  &__item-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 155%;
    color: #000000;
  }
  &__left-img, &__right-img{
    position: absolute;
    width: 45%;
    height: auto;
    img{
      width: 100%;
      height: auto;
    }
  }
  &__left-img{
    top: 0;
    left: 0;
  }
  &__right-img{
    right: 0;
    bottom: 100px;
  }
  &__section-lnk{
    display: inline-block;
    margin: 36px auto 0 auto;
  }
}
.photogalery{
  max-width: 1400px;
  margin: auto;
  width: 100%;
  padding: 83px 100px 50px 100px;
  text-align: center;
  position: relative;
  &__navigate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 94px;
    div, span{
      position: static;
      width: auto;
      height: auto;
    }

    .swiper-pagination{
      display: flex;
      align-items: center;
      color: transparent;
      width: 160px;
      justify-content: center;
      .swiper-pagination-current{
        display: block;
        color: black;
        border: none;
        font-size: 36px;
        line-height: 131%;
        font-weight: 400;
        height: 100%;
      }
      .swiper-pagination-total{
        display: none;
      }
    }
  }
  &__item{
    height: 293px;
    width: auto;
    overflow: hidden;
    img{
      object-fit: fill;
      height: 100%;
      width: 100%;
      margin: auto;
    }
  }
  .swiper-slide{
    border: 1px solid #A9A7A7;
    box-sizing: border-box;
    filter: blur(4px);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.5s;
    opacity: 0;
  }
  .swiper-button-prev, .swiper-button-next{
    margin-top: 0;
    &:after, &:before{
      color: black;
    }
  }
  .swiper-slide-prev, .swiper-slide-next{
    opacity: 1;
  }
  .swiper-slide-active{
    filter: blur(0px);
    transform: scale(1.6, 1.3);
    z-index: 20;
    opacity: 1;
    filter: drop-shadow(0px 8px 11px rgba(0, 0, 0, 0.3));
  }
  &__section-lnk{
    margin-top: 47px;
    display: inline-flex;
  }
}
.testimonial{
  background-image: url(../img/rev-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 137px 0;
  &__content{
    max-width: 1338px;
    padding: 0 100px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
  }
  &__abs-img{
    position: absolute;
    left: -290px;
    top: -128px;
  }
  &__wrapper{
    height: 100%;
  }
  &__title{
    color: #C4C4C4;
    text-align: center;
    margin-bottom: 61px;
  }
  &__desc{
    width: 46%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 3px;
    padding: 61px 36px;
    h3{
      padding-left: 46px;
      font-size: 30px;
      line-height: 123%;
      color: #C4C4C4;
      font-weight: 100;
    }
    .testimonial__descript{
      margin-top: 20px;
      padding-left: 46px;
      p{
        font-size: 14px;
        line-height: 100%;
        color: #C4C4C4;
        font-weight: 100;
      }
    }
  }
  &__list{
    width: calc(54% - 40px);
    margin: 0;
    position: relative;
  }
  &__btn{
    margin-top: 50px;
    display: inline-flex;
    padding: 13px 50px;
  }
  .strong-content{
    margin: 0!important;
    height: 100%;
  }
  .wpmtst-testimonial{
    height: 100%;
    border: none!important;
  }
  .strong-view{
    height: 100%;
    .slick-track{
      .wpmtst-testimonial{
        margin: 0!important;
      }
    }
    .slick-list, .slick-track, .slick-slide, .slick-slide > div{
      height: 100%;
    }
  }
  .wpmtst-testimonial-inner{
    display: flex!important;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 32px 52px!important;
    position: relative;
    .wpmtst-testimonial-heading{
      display: none;
    }
    .testimonial-name{
      order: 1;
      text-align: left!important;
      padding-left: 166px;
      font-size: 24px;
    }
    .city{
      order: 2;
      text-align: left!important;
      padding-left: 166px;
      font-size: 18px;
    }
    .wpmtst-testimonial-content{
      margin-top: 40px;
      padding-left: 26px;
      padding-right: 50px;
      p{
        font-size: 14px;
        line-height: 178%;
      }
    }
    .wpmtst-testimonial-image{
      position: absolute;
      top: 32px;
      left: 53px;
      width: 156px;
      height: 156px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0;
      img{
        width: 100%;
        height: 100%;
        padding: 0!important;
      }
    }
    .stars{
      order: 3;
      text-align: left!important;
      padding-left: 166px;
      margin-top: 12px;
      .star{
        &:before{
          background-color: #F1D333;
        }
      }
    }
    .wpmtst-testimonial-content{
      order: 4;
    }
    .date{
      font-size: 14px;
      line-height: 178%;
      color: #C4C4C4;
    }
  }
  &__navigate{
    position: absolute;
    bottom: 30px;
    right: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    .slick-arrow{
      cursor: pointer;
    }
    .devider{
      margin: 0 26px;
      width: 1px;
      display: block;
      height: 100%;
      background-color: rgba(196, 196, 196, 0.6);;
    }
  }
}
.consult{
  padding: 78px 0 50px 0;
  text-align: center;
  &__content{
    max-width: 875px;
    padding: 0 100px;
    margin: 20px auto 30px auto;
  }
  &__lnk{
    display: inline-flex;
    padding: 13px 50px;
  }
}
.footer{
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  &__container{
    max-width: 1400px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  &__logo-part{
    max-width: 294px;
    .custom-logo-link{

    }
    .desc{
      font-weight: 500;
      font-size: 14px;
      line-height: 142%;
      color: #FFFFFF;
      margin-top: 27px;
    }
    .socials{
      display: inline-block;
      &__title{
        font-size: 14px;
        line-height: 121%;
        color: #F5E6E4;
        padding-bottom: 15px;
        border-bottom: 1px solid #F5E6E4;
        margin-bottom: 12px;
        margin-top: 33px;
      }
      &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
          svg{
            width: 28px;
            height: auto;
          }
        }
      }
    }
  }
  &__adress-part{
    width: calc(33.3% - 73px);
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
  }
  &__adress-row{
    margin-bottom: 17px;
    &:last-child{
      margin-bottom: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .row_title{
      font-weight: 700;
      font-size: 18px;
      line-height: 111%;
      color: #FFFFFF;
    }
    .row_content{
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: #FFFFFF;
    }
  }
  &__contacts-part{
    width: calc(33.3% - 73px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contacts-title{
      font-weight: 500;
      font-size: 14px;
      line-height: 142%;
      color: #FFFFFF;
    }
    .footer__nav-phone{
      a{
        display: block;
        margin-bottom: 5px;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.035em;
        color: #FFFFFF;
      }
    }
    .footer__email{
      margin-top: 20px;
      font-size: 18px;
      line-height: 111%;
      font-weight: 500;
      text-decoration-line: underline;
      color: #FFFFFF;
    }
    .footer__nav-button{
      display: inline-flex;
      width: 173px;
    }
  }
}
.home{
  padding-top: 0!important;
}
body{
  .site-main{
    max-width: 1400px;
    padding: 40px 100px 50px 100px;
    width: 100%;
    margin: auto;
  }
  #yith_wc_category_accordion-2{
    .ywcca_container.ywcca_widget_container_style_2, .ywcca_container{
      margin: 0!important;
    }
    .ywcca_widget_title{
      font-size: 20px;
      font-weight: 400;
      text-transform: capitalize;
      background-color: transparent;
    }
    .cat-item{
      background-color: transparent;
    }
    .yith-children{
      margin: 0!important;
    }
  }
  .ywcca_category_accordion_widget.category_accordion{
    margin: 0;
    border: none;
    > .cat-item{
      padding: 15px;
    }
    a{
      color: black!important;
      font-size: 16px!important;
    }
    i.icon-plus_style_2{
      position: relative;
      background: none!important;
      width: 20px!important;
      height: 20px!important;
      &:before{
        background: #000;
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:after{
        background: #000;
        position: absolute;
        content: '';
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    i.icon-minus_style_2{
      position: relative;
      background: none!important;
      width: 20px!important;
      height: 20px!important;
      &::before{
        background: #000;
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .widget_premmerce_filter_filter_widget{
    .filter__item{
      border-right: none;
      border-left: none;
      border-bottom: none;
      border-top: 1px solid #e2e2e2;
    }
    .filter__properties-list{

    }
    .filter__checkgroup-title{
      padding-top: 5px;
    }
    .filter__properties-item{
      display: flex;
      align-items: center;
    }
    .filter__title{
      font-size: 16px;
      font-weight: 400;
    }
    .filter__checkgroup{
      display: flex;
      align-items: center;
    }
    .filter__checkgroup-link{
      display: flex;
      align-items: center;
    }
    .filter__checkgroup-check{
      display: flex;
      align-items: center;
    }
  }
  .widget_product_categories{
    .products{
      width: calc(100% - 400px);
    }
  }
  .product-page__content{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .products, .yit-wcan-container{
      width: calc(100% - 400px);
      .products{
        width: 100%;
      }
    }
    .widget-area{
      width: 300px;
      padding: 10px;
      border: 1px solid #000000;
      border-radius: 5px;
      h2{
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 30px;
      }
      a{
        color: black;
        font-size: 16px;
      }
    }
  }
}
.page-news{
  padding-bottom: 100px;
  .title{
    margin-bottom: 30px;
  }
  .related__wrap{
    margin-top: 50px
  }
  .related__slider{
    padding-top: 50px;
    border-top: 2px solid rgba(0,0,0,0.7);
    .blog__item{
      color: black;
      h4{
        font-size: 22px;
        margin-bottom: 10px;
      }
      p{
        font-size: 12px;
      }
      .thumb__wrap{
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
        img{
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .content{
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 16px;
  }
  &__container{

  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  &__item{
    width: calc(33.3% - 30px);
    margin-bottom: 30px;
    margin-right: 30px;
    display: block;
    .thumb__wrap{
      width: 100%;
      height: 250px;
      overflow: hidden;
      margin-bottom: 15px;
      img{
        max-width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    .description{
      color: black;
      h4{

      }
      p{
        font-size: 12px;
      }
    }
  }
}
.single-page{
  padding-bottom: 50px;
  h1{
    margin-bottom: 30px;
    margin-top: 50px;
  }
  h2{
    margin-bottom: 15px;
  }
  .post-thumbnail{
    width: 100%;
    height: 400px;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.faq{
  &__content{
    margin-top: 50px;
  }
  h2{
    color: black;
    a{
      color: black;
    }
  }
  &__title{
    margin-bottom: 20px;
  }
  &__item{
    border-radius: 8px;
    margin-bottom: 20px;
    &.active{
      .vert{
        opacity: 0;
      }
    }
    .faq__triger{
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 8px;
      align-items: center;
      background-color: rgba(0,0,0,0.1);
      transition: 0.3s;
      &:hover{
        background-color: rgba(0,0,0,0.2);
      }
      .close-item{
        width: 20px;
        height: 20px;
        position: relative;
        .hor{
          height: 2px;
          width: 100%;
          background-color: black;
          top: calc(50% - 1px);
          position: absolute;
          left: 0;
          display: block;
        }
        .vert{
          width: 2px;
          height: 100%;
          background-color: black;
          top: 0;
          left: calc(50% - 1px);
          position: absolute;
          display: block;
        }
      }
    }
    .faq__answer{
      padding: 20px;
      background-color: rgba(0,0,0,0.05);
      border-radius: 0 0 8px 8px;
    }
  }
}
.single-product{
  a{
    color: black;
  }
}
.page-about{
  padding-bottom: 50px;

}
.history{
  &__item{
    display: flex!important;
    justify-content: space-between;
    &-title{
      text-align: left;
      margin-bottom: 20px;
    }
  }
  &__title{
    margin-bottom: 30px;
    font-weight: bolder;
    text-align: center;
  }
  &__description{
    width: calc(50% - 40px);
  }
  &__img{
    width: 50%;
  }
  &__content{

  }
  &__lnk{
    display: inline-flex;
  }
}
.digit{
  margin-top: 50px;
  &__title{

  }
  &__content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  &__item{
    text-align: center;
    width: calc(33.3333% - 40px);
    &:last-child{
      margin-right: 0;
    }
  }
  &__digit{
    font-size: 54px;
    font-weight: 700;
    color: #d62d30;
  }
  &__desc{
    margin-top: 15px;
  }
}
.goal{
  margin-top: 50px;
  &__title{
    margin-bottom: 40px;
  }
}
.production{
  &__title{
    margin-top: 50px;
    margin-bottom: 40px;
  }
  &__content{
    position: relative;
  }
  &__nav{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    & > div{
      cursor: pointer;
      background: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(40px);
      padding: 20px;
      &.slick-disabled{
        opacity: 0.5;
        cursor: auto;
      }
    }
  }
  &__item{
    picture{
      width: 100%;
      display: block;
      height: 700px;
      max-height: 70vh;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.partners{
  padding-bottom: 40px;
  &__title{
    margin-top: 50px;
    margin-bottom: 40px;
  }
}
.prdctfltr-widget .prdctfltr_wc .prdctfltr_buttons{
  display: none;
}
.prdctfltr_wc .prdctfltr_filter_title{
  display: none!important;
}
.pf_rngstyle_thin .irs-from, .pf_rngstyle_thin .irs-to, .pf_rngstyle_thin .irs-single{
  background-color: #8b0000!important;
}
.default-page, .single-page, .faq-page, .page-news, .rev-page, .page-about, .page-photogalery, .page-zakaz {
  .delivery__header{
    margin-bottom: 40px;
  }
  h1{
    font-weight: 700;
    margin: 30px 0;
  }
  h2, h3, h4, h6{
    margin-bottom: 20px;
  }
  .post-thumbnail{
    img{
      width: 100%;
    }
  }
}
.delivery{
  &__first, &__second{
    &-desc{
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  &__header{
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title{
      max-width: none;
    }
    &-subtitle{
      max-width: none;
    }
    &-img{
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-content{
      z-index: 2;
      text-align: center;
    }
  }
  &__types{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
    &-item{
      width: calc(25% - 60px);
    }
    &-img{
      border-radius: 50%;
      overflow: hidden;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-title{
      font-size: 24px;
      line-height: 141%;
      font-weight: 600;
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: center;
    }
    &-desc{
      p{
        font-size: 14px;
        line-height: 178%;
        text-align: center;
      }
      font-size: 14px;
      line-height: 178%;
      text-align: center;
    }
  }
  &__map{
    width: 100%;
    .map-container{
      height: 500px;
      width: 100%;
    }
  }
  &__bottom{
    position: relative;
    padding: 100px 0;
    &-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-desc{
      z-index: 2;
      position: relative;
      //padding-top: 150px;
      .red-button{
        display: inline-flex;
      }
    }
  }
}
.wholesaler{
  &__conditions{
    padding-top: 80px;
    padding-bottom: 80px;
    &-title{
      margin-bottom: 40px;
    }
    &-content{
      display: flex;
      justify-content: space-between;
    }
    &-item{
      width: calc(50% - 40px);
      h3{
        margin-bottom: 40px;
      }
    }
  }
  &__documents{
    &-content{
      display: flex;
      justify-content: space-between;
      margin-top: 80px;
      margin-bottom: 80px;
    }
    &-item{
      width: calc(33.333% - 40px);
      padding: 40px;
      background: rgba(255,255,255,0.6);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(40px);
      border-radius: 4px;
      h3{
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 600;
      }
      p{

      }
    }
  }
  &__download{
    background-color: rgba(0,0,0,1);
    padding: 80px 0;
    &-content{
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        display: flex;
        align-items: center;
      }
    }
    svg{
      margin-right: 40px;
      width: 50px;
      height: auto;
      path{
        fill: white;
      }
    }
  }
  &__form{
    padding-top: 80px;
    &-title{
      margin-bottom: 40px;
    }
    .wpcf7{
      form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .wpcf7-form-control-wrap{
          width: 100%;
          .wpcf7-acceptance{
              .wpcf7-list-item{
                width: 100% !important;
              }
          }
          .wpcf7-form-control{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .wpcf7-list-item{
              width: calc(33.333% - 40px);
              margin-left: 0;
              input{
                width: auto;
                margin-bottom: 0;
                margin-right: 20px;
              }
            }
          }
        }
        p{
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          input[type="submit"]{
            display: inline-flex;
            width: auto;
            margin: auto;
          }
        }
        .row{
          width: calc(50% - 20px);
        }
      }
    }
  }
}
.contacts{
  &__items{
    padding-top: 80px;
    padding-bottom: 80px;
    &-title{
      margin-bottom: 40px;
    }
    &-content{
      display: flex;
      justify-content: space-between;
      p{
        margin-bottom: 0;
        max-width: 300px;
        text-align: center;
      }
    }
    &-item{
      width: calc(33.3333% - 40px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-img{
      height: 100px;
      width: auto;
      margin-bottom: 40px;
    }
    &-title{

    }
  }
}
.rev-page{
  &__send{
    margin-bottom: 40px;
    .container{
      position: relative;
    }
    &-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-desc{
      padding: 20px 40px;
      position: relative;
      z-index: 2;
      color: white;
      text-align: center;
      .red-button{
        width: 200px;
        margin: auto;
      }
    }
  }
  &__list{
    display: flex;
    margin-right: -40px;
    flex-wrap: wrap;
  }
  &-item{
    width: calc(20% - 40px);
    margin-right: 40px;
    margin-bottom: 40px;
    img{
      width: 100%;
      height: auto;
    }
  }
}
.page-photogalery{
  padding-bottom: 100px;
}